<div class="container">
	<h3>Select Channels</h3>
	<div class="row">
		<div class="col-md-6">
			<%= form_for(:form) do |f| %>
				<% for @item in @channels %>
					<div class="checkbox">
						<label>
							<%=	f.check_box(@item.id.to_s()) %> <%= @item.name %>
						</label>
					</div>
				<% end %>
				<%= f.submit "Select Channels", :class => "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
