<div class="container">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Merchant Information Form</a></li>
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/document' %>">Upload Documents</a></li>
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/terms' %>">Terms & Conditions</a></li>
	</ul>

  <div class="row">
    <div class="col-xs-12">
      <p>Success!</p>
    </div>
  </div>
</div>
