<div class="container">
  <p>Please click on the link below:</p>
  <a href="<%= request.base_url + '/merchant/form' %>" class="btn btn-default">Merchant Information Form</a>
  <a href="<%= request.base_url + '/merchant/document' %>" class="btn btn-default">Upload Documents</a>
  <a href="<%= request.base_url + '/merchant/terms' %>" class="btn btn-default">Terms & Conditions</a>
</div>
