<h3>Additional Documents Channel </h3>
<% @documents.each do |t| %>
    <a href=  >
    <p> <%= t[:doc].name %></p></a>
    <p><% t[:link]%></p>
    Needs on channels:
        <% t[:doc].channels.each do |channel| %>
            <%= channel.name %>
          <% end %>
      <br>
      <p>---</p>
<% end %>

