<!DOCTYPE html>
<html>
<head>
  <title>Agreement Integration Platform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>Agreement Integration Platform</h2>
  <%= yield %>
</body>
</html>
